# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/
dist/
build/

# Env
.env

# uv
.python-version

# Docker
.docker/

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
